In [1]:
#List:
a = [1,2,4]
b = [6,7,8,9,10]
a.append(5)
print(a)

[1, 2, 4, 5]

In [2]:
a.insert(2,3)
print(a)

[1, 2, 3, 4, 5]

In [3]:
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
a.pop() #to pop the last value
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
a.pop(1) #to pop the respective indexed value
print(a)

[1, 3, 4, 5, 6, 7, 8, 9]

In [6]:
a.remove(5) #remove a value
print(a)

[1, 3, 4, 6, 7, 8, 9]

In [7]:
a.sort(reverse=True) #descending order
print(a)

[9, 8, 7, 6, 4, 3, 1]

In [8]:
a.sort() #ascending order
print(a)

[1, 3, 4, 6, 7, 8, 9]

In [10]:
a = b #when changes made in b, a gets updated -- it copies the reference points
a = b.copy() #justs copies the values
print(a)
print(b)

[6, 7, 8, 9, 10]
[6, 7, 8, 9, 10]

In [12]:
print(a.count(5)) #counts number of 5 in it

0

In [13]:
a.clear() #to clear the list of values
print(a)

[]

In [14]:
del a #to delete the entire list fuly
print(a)

NameError: name 'a' is not defined

In [27]:
#Dictionary:
d = {"Name": "Gokul Ram K", "State": "TN"}

d["Age"] = 18 #adding a key-value pair 
print(d)

{'Name': 'Gokul Ram K', 'State': 'TN', 'Age': 18}

In [28]:
d.get("Age") #returns 18

18

In [29]:
d.keys()

dict_keys(['Name', 'State', 'Age'])

In [30]:
d.values()

dict_values(['Gokul Ram K', 'TN', 18])

In [31]:
d.items()

dict_items([('Name', 'Gokul Ram K'), ('State', 'TN'), ('Age', 18)])

In [32]:

d2 = {"State" : "KA", "Rank" : 1}

In [33]:
d.update(d2) #Rank gets added and the state gets updated

In [34]:

d.popitem() #pops lastly added item

('Rank', 1)

In [35]:
d.pop("Age") #pops the age pair alone returns the value of that one

18

In [36]:
del d["State"] #deletes that alone completely
print(d)

{'Name': 'Gokul Ram K'}

In [37]:
d.clear() #clears the existing values alone
print(d)

{}

In [38]:
del d #deletes the entire dictionary completely

In [39]:

#Copy Methods
d = d2
d = d2.copy()

d3 = {"age": 18}
d3.setdefault("age","white") #if the key exists no change. if it doesn't exist the new pair is added
d3

{'age': 18}

In [40]:


#Fromkeys ka method
l = ["k1","k2","k3","k4","k5"]
i = 0
new_dict = dict.fromkeys(l,i) #create a dictionary with the keys specificed in l all having the values of i
new_dict

{'k1': 0, 'k2': 0, 'k3': 0, 'k4': 0, 'k5': 0}

In [41]:
new_dict = dict.fromkeys(l) #no values is mentioned. so all with None

In [42]:
new_dict

{'k1': None, 'k2': None, 'k3': None, 'k4': None, 'k5': None}

In [56]:
#creating a set
s1 = {1,2,3,4,5}
s1.add(6)
print(s1)

{1, 2, 3, 4, 5, 6}

In [57]:
s1.remove(3)
print(s1)

{1, 2, 4, 5, 6}

In [58]:
s1.discard(8) #8 doesnt belong to the set. Discard is used to avoid error when the value doesn't exist already
print(s1)

{1, 2, 4, 5, 6}

In [59]:
s1.add(1) #accepts only unique values. But no error
print(s1)

{1, 2, 4, 5, 6}

In [60]:
s1.pop() #to randomly pop a value
print(s1)

{2, 4, 5, 6}

In [61]:
s1.clear() #to empty the set (len: 0)
print(s1)

set()

In [62]:
del s1 #to delete the set completely (doesn't exist there after)

In [63]:
s1 = {1,2,3,4,5}
s2 = {2,4,3,6,7}
s3 = s1.union(s2) #includes all values
print(s3)

{1, 2, 3, 4, 5, 6, 7}

In [64]:
#s1.update(s2) #updates the set at the same line
s5 = s1.intersection(s2) #only common values
print(s5)

{2, 3, 4}

In [65]:
s6 = s1.difference(s2) #unique values in s1
print(s6)

{1, 5}

In [66]:
s7 = s1.symmetric_difference(s2) #except all common values
print(s7)

{1, 5, 6, 7}